body{
    color: #444;
    background-color: #EE8;
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6em;
    font-size: 18px;
    padding: 0;
}

header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

input {
    padding: 10px;
    font-size: 16px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}
